@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/pBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/pExtra.otf");
  font-weight: 800;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/pSemibold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/pLight.otf");
}



