@import 'variables';

$transition-logo: 0.2s ease-in;

header{
  background: $color-mobile;
  &.bg-iot.scrolled {
    background: $color-iot;
    box-shadow: none;
  }

  &.bg-front.scrolled {
    background: $color-front;
    box-shadow: none;
  }

  width: 100%;
  padding: 25px 0 20px 0;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: $transition-default;

  .logo {
    flex: 1;
    padding: 0;
    height: 100%;
    padding: 0.2rem;
    text-indent: -9999px;
    background: url(../img/logo.png) no-repeat ;
    transform: scale(0);
    transform-origin: left;
    transition: 0.2s ease-in;
  }

  nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      margin: 0;
      padding: 0;
    }
  }

  li {
    list-style: none;
    text-transform: uppercase;
    font-size: 1rem;
    a {
      padding: 18px 0.8rem;
      color: #fff;
      display: block;
      position: relative;
      text-align: center;
      &.active,
      &:hover {
        &::before {
          transform: none;
          opacity: 1;
        }
      }

      &::before {
        content: '';
        background: $color-back;
        width: 100%;
        height: 3px;
        border-radius: 1000px;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        transform: scaleX(0);
        transition: 0.2s ease-in;
      }
    }
  }

  .subscribe {
    margin-left: 2rem;
  }
 
  &.scrolled {
    box-shadow: 0 2px 15px 3px rgba(0,0,0,.3);
    .logo {
      transform: scale(1);
    }
  }

  &.active {
    nav {
      opacity: 1;
      transform: none;
      pointer-events: all;
    }

    .toggle-menu {
      span {
        background: transparent;
      }
      span::before {
        background: #ffffff;
        transform: translateY(7px) rotate(45deg);
      }
      span::after {
        background: #ffffff;
        transform: translateY(-7px) rotate(-45deg);
      }
    }
  }
}


.toggle-menu {
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  border: 2px solid #fff;
  background: none;
  display: none;
  margin: 0 16px;
  position: relative;
  z-index: 110;


  span {
    background: #fff;
    width: 100%;
    display: block;
    height: 2px;
    position: relative;
    transition: $transition-default;

    &::before, &::after {
      content: '';
      position: absolute;
      width: inherit;
      height: inherit;
      background: inherit;
      left: 0;
      transition: $transition-default;
      will-change: transform;
    }

    &::before { top: -7px; }
    &::after { bottom: -7px; }
  }
}

@media screen and (max-width: 780px) {
  header {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 0.7rem 0;
    &.scrolled {
      .logo {
        transform: scale(0.7);
      }
    }
  }


  .logo {
    transform: scale(0.7);
    opacity: 1;
    margin-top: -3rem;

  }

  .toggle-menu {
    display: block;
  }
  
  nav {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    background: $color-mobile;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: $transition-default;

    ul {
      display: flex;
      flex-direction: column;
      flex: 100%;
      padding-bottom: 5rem;

      li {
        font-size: 1rem;
      }
    }

    .subscribe {
      margin: auto; 
      margin-top: 1rem;
    }
  }
}