@import 'variables';
@import 'mixins';

#select-course {
  text-align: center;
  background: url(../img/grade/background.svg) no-repeat center;
  padding-top: 8rem;

  h1 {
    @include titulo($color-mobile, transparent, none);
    font-weight: lighter;
    font-size: 1.8rem;
    text-transform: uppercase;
    transition: $transition-default;
    padding-bottom: 0.5rem;
    padding: 0.5rem 2.2rem;
  }

  p {
    padding-top: 1rem;
    color: $color-front;
    transition: $transition-default;
  }


  ul {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    transform-origin: left;
    transition: $transition-default;
  }

  li {
    width: 25%;
    padding: 2rem;

    svg {
      width: 50%;
      max-height: 100%;
      margin-bottom: 2rem;
    }
  }

  h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  a.course-name {
    color: $grey;
  }


  .course {
    text-align: left;
    opacity: 0;
    display: none;
    transform: translateY(-15px);
    transition: 0.2s ease-in 0.1s;

    &.active {
      opacity: 1;
      display: flex;
      transform: none;
    }

    .column {
      flex: 50%;
      padding: 1rem;
    }

    li {
      width: 100%;
      padding: 1rem;
    }

    h2 {
      font-size: 3rem;
      color: $color-dark;
      font-weight: 800;
    }

    p {
      color: $color-mobile;
    }

    .grade a {
      background: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      display: block;
      padding: 1.4rem 1.4rem;
      position: relative;
      box-shadow: 0 0 25px 2px rgba(0,0,0,.15);

      &::after {
        content: 'a';
        position: absolute;
        right: 1rem;
      }
    }

    .grade > li {
      > ul {
        background: $color-mobile;
        color: #fff;
        font-size: 1.2rem;
        opacity: 0;
        max-height: 0;
        transition: 0.2s ease-in;
        will-change: opacity, max-height;

        &.active {
          opacity: 1;
          max-height: 100%;
        }
      }

      h5 {
        text-transform: uppercase;
        font-size: 1.2rem;
        margin: 0.5rem;
      }
    }


    .grade .module-items {
      list-style: square;
      list-style-position: inside;
       li {
        padding: 0.8rem;
       }
    }
  }


  &.active {
    h1 {
      text-align: left;
    }

    p.text-big {
      opacity: 0;
      display: none;
    }

    ul.course-list {
      transform: scale(0.8);
    }
  }

  a{
    z-index: 2;
  }
}


@media screen and (max-width: 740px) {
  #select-course {
    .course-list {
      flex-direction: column;
      li {
        width: 100%;
        height: 120px;
        padding: 1rem;
        a {
          margin: auto;
          max-width: 460px;
          height: 100%;
          display: flex;
          align-items: center;
        }

        svg {
          margin: 0;
          margin-right: 1rem;
          flex: 20% 0;
        }
      }
    }
  }
}